<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677105732554-s2gakqcq627e6fsfqje7iqi8n1t1a0oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677105732554-s2gakqcq627e6fsfqje7iqi8n1t1a0oi</string>
	<key>API_KEY</key>
	<string>AIzaSyCPy3sPFl0zEdkqy7johbKgY7pi5XLTESk</string>
	<key>GCM_SENDER_ID</key>
	<string>677105732554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trafficLightApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>traffic-light-3b9b9</string>
	<key>STORAGE_BUCKET</key>
	<string>traffic-light-3b9b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677105732554:ios:80aaea9d8c73da0761dd33</string>
</dict>
</plist>